.welcome {
    height: 100% !important;
    background-image: url('/src/images/background_gym.jpg');
    /* margin-top: 20px !important; */
    background-size:cover; 
    resize:horizontal;
}

.titulo{
    font-weight: bold;
    color: black;
}

.noLinkButton {
    color: inherit;
    zoom:2;
}

.clickeable {
    cursor: pointer;
}

.extraDetail {
    background-color: floralwhite !important;
    margin-top: 15px !important;
}

.noDecorationForLinks{
    text-decoration: none;
    color: black;
}

#lista{
    min-height: 650px;
}

@media (max-width: 850px) {
    .itemDetailFotoHide {
      display: none;
    }
}


@media (max-width: 1250px) {
    #quienesSomos {
      height: 800px;
    }
}

@media (max-width: 900px) {
    #quienesSomos {
      height: 1150px;
    }
}

@media (max-width: 750px) {
    #quienesSomos {
      height: 1250px;
    }
}

.totalCheckout {
    font-size: 24px;
    font-weight: bold;
}

.tableCheckout {
    background-color: #cecece;
}